PORT=8000
FRONTEND_ORIGIN=http://localhost:3000
AI_PROVIDER=mock
IMAGE_PROVIDER=doubao
DOUBAO_API_KEY=fake_key_replace_me
DOUBAO_IMAGE_MODEL=doubao-seedream-5-0-260128
DOUBAO_IMAGE_API_URL=https://ark.cn-beijing.volces.com/api/v3/images/generations
DOUBAO_IMAGE_SIZE=2K
DOUBAO_IMAGE_WATERMARK=true
